:root {
    --borderColor: rgb(209, 209, 228);
    --backgroundColor:rgba(6, 6, 6, 0.894);
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(4, 50, 4);
    min-height: 100vh;
    font-family: 'Kanit', sans-serif;

    font-family: 'Share Tech Mono', monospace;

}

.title{
    text-align: center;

    font-size: 80px;
    color: rgba(192, 213, 255, 0.953);
    filter: blur(1px);
    text-shadow: 0 0 10px  rgb(234, 255, 0);

}

h2{
    padding:2%;
    color: whitesmoke;
    text-align: center;
}

.flex-box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
    width: 100vw;

}


.main-card {
    position: relative;
    border: 2px solid var(--borderColor);
    border-right-width: 15px;

    height: 500px;
    width: 420px;

    border-bottom-color: transparent;

    display: flex;
    justify-content: center;
    background-color: var(--backgroundColor);
    
    
}

.main-card:hover{
    border: 2px solid rgba(179, 179, 251, 0.779);
    border-right-width: 15px;
    border-bottom-color: transparent;

    

}

.main-card-top-design {
    height: 150px;
    width: 200px;
    border: solid var(--borderColor);
    border-width: 15px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;

}


.outer-rect {
    border: 3px solid var(--borderColor);
    background-color: rgba(70, 70, 70, 0.398);
    height: 250px;
    width: 350px;
    top: 45px;
    position: absolute;
    
}


.outer-rect>img {
    height: 250px;
    width: 350px;
    object-fit: cover;
}

.tri-common {
    position: absolute;
    /* background-color: var(--backgroundColor); */
    /* height: 100px;
    width: 130px; */
    border: solid;
    height: 0;
    width: 0;
    border-width: 60px;

    /* transform: rotate(36deg); */


}


.upper-tri {
    top: -3px;
    right: -3px; 

    border-bottom-color: transparent;
    border-left-color: transparent;
    border-top-color: var(--backgroundColor);
    border-right-color: var(--backgroundColor);

}






.lower-tri {

    bottom: -3px;
    left: -3px; 



    border-color: transparent transparent var(--backgroundColor) var(--backgroundColor);


}


.vert-line-desc {
    position: absolute;
    height: 150px;
    width: 5px;
    left: 7%;
    top: 60%;
    background-color: var(--borderColor);
}

.desc {
    left: 10%;
    position: absolute;
    top: 62%;
    color: var(--borderColor);

}

.footer {
    border: solid ;
    border-top-color: var(--backgroundColor);
    border-right-color: var(--borderColor);
    border-right-width: 15px;

    border-left-color: transparent;
    border-bottom-color: transparent;
    height: 80px;
    width: 420px;
    display: flex;
    flex-direction: row;

}

.left-rect{
    /* flex: 1; */
    position: relative;
    border:  solid;
    border-width: 40px ;

    border-color: var(--backgroundColor) var(--backgroundColor) transparent transparent;

}

.right-rect{
    flex: 3;
    height: 80px;
    background-color: var(--backgroundColor);

    border:  solid;


    border-color:  transparent transparent var(--borderColor) transparent  ;

    color: var(--borderColor);
    text-align: end;
    padding-right: 20px;
    /* font-size: larger; */
}
