:root{
    --border-color:rgba(217, 241, 255, 0.992);
    --background-color:rgb(42, 42, 42);
}


body{
    background-color: rgb(42, 42, 42);
    font-family: 'Kanit', sans-serif;

    font-family: 'Share Tech Mono', monospace;
}


.header{
    text-align: end;
    padding: 40px 70px ;

}


.header>h4,h1{
    line-height: 10px;
    color: white;
    
}


.body-part{
    padding:5% 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.left-body-part{
    height: 400px;
    width: 300px;
    border: 2px solid rgba(255, 0, 0, 0.794);
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


.tech-btn{
    height: 40px;
    width: 200px;
    border: 1.25px solid var(--border-color);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bolder;
}




.big-lower-tri{
    position: absolute;
    border:12px solid;
    border-color: transparent var(--border-color) var(--border-color) transparent;
    right: -1px;
    bottom: -1px;
}

.medium-lower-tri{
    position: absolute;
    border:11px solid ;
    border-color: transparent var(--background-color) var(--background-color) transparent ;
    right: -1px;
    bottom: -1px;
}


.small-lower-tri{
    position: absolute;
    border: 8px solid;
    border-color: transparent var(--border-color) var(--border-color) transparent;
    right: -1px;
    bottom: -1px;
}




.fit-highlighted {
    border: 9px solid;
    border-color: transparent var(--border-color) var(--border-color) transparent;
    right: -1.25px;
    bottom: -1.25px;
}

.highlighted{
    background-image: linear-gradient( to bottom, transparent,rgba(203, 5, 5, 0.91));
    
}

.highlighted-btn{
    border-color: transparent rgba(203, 5, 5, 0.864) rgba(203, 5, 5, 0.864) transparent;
}

.pressed{
    background-color: rgba(203, 5, 5, 0.864);
    border: 1.25px solid rgba(203, 5, 5, 0.864);


}


.large{
    /* margin-top: 5px; */
    height: 70px;
    font-weight: bolder;
}




.progress-wrapper{
    /* border:2px solid var(--border-color); */
    margin: 20px 0;
    height: 70px;
    width: 95%;
    display: flex;
    align-items: center;
    position: relative;

}


.diamond-shape{
    height: 65px;
    width: 65px;
    border: 2px solid var(--border-color);
    transform: rotate(45deg);
    z-index: 2;

}

.back{
    height: 50px;
    width: 50px;
    position: absolute;
    left: 26px;
    background-color: var(--background-color);
    z-index: 1;
    border: 1px solid;
    border-color: var(--border-color) transparent transparent transparent;
}


.score{
    position: absolute;
    color: white;
    font-weight: bolder;
    font-size: 25px;
    left: 13px;
    z-index: 3;
}

.progress-name-box{
    position: absolute;
    height: 34px;
    width: 72%;
    border: 1px solid var(--border-color);
    right: 10px;
    top: -2.25px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 15px;
    color: white;
    font-weight: bolder;
}


.progress-bar{
    position: relative;
    height: 8px;
    border: 1px solid var(--border-color);
    width: 71%;
    /* background-color: var(--border-color); */
    top: 15%;
}


.progress{
    position: absolute;
    height: 8px;
    width: 45%;
    background-color: var(--border-color);
    transform: skew(-45deg);
}


.text-wrapper{
    display: flex;
    align-items: center;
    gap: 10px;
}


.number{
    font-size: 45px;
    color: rgba(255, 170, 0, 0.837);
}

.text{
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.lower-text{
    color: rgba(255, 0, 0, 0.843);
}


h2, a{
    padding: 2%;
    color: whitesmoke;
    text-align: center;
    /* text-decoration: underline; */
}

@media only screen and (max-width: 618px) {
    .body-part{
        padding:0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

    }

    .progress-name-box{

        width: 70%;
 
    }

    .header{
        text-align: end;
        padding: 1px 10px ;
    
    }
  }