:root {
    --borderColor: rgb(209, 209, 228);
    --backgroundColor: rgba(6, 6, 6, 0.894);
}

body {
    background-color: rgb(46, 46, 46);
    display: flex;

}




.main {
    height: 200px;
    width: 200px;
    /* border: 2px solid yellow; */
    position: relative;
    animation: rotate-main 8s linear infinite;
    /* transform-origin: center; */
}


.circle {
    position: absolute;
    color: white;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 10px solid;
    border-radius: 50%;
    border-color: white transparent white transparent;
    transform-origin: center;
    animation: rotate 2s infinite linear alternate;
    box-shadow: 0 0 5px 3px;
}

.thin-circle {
    position: absolute;
    color: white;
    top: 4%;
    left: 4%;
    bottom: 4%;
    right: 4%;
    border: 1px solid;
    border-radius: 50%;
    border-color: white white transparent white;
    transform-origin: center;

    animation: rotate 2s infinite linear alternate-reverse;

}

.second {
    inset: 8%;
    animation-timing-function: cubic-bezier(.68, -0.55, .28, 3.21);
    border-width: 8px;
    animation-delay: 1s;
    /* animation-duration: 3.5s; */
}

.thin-second {
    inset: 12%;
    animation-direction: alternate;
}

.third {
    inset: 16%;
    border: 5px solid;

    border-color: white white white transparent;
    /* animation-delay: 3s; */
    animation-duration: 1s;

}


.triangle {
    position: absolute;
    inset: 33% 25%;
    width: 0;
    border-color: transparent;
    border-top: 90px solid white;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;

}

@media only screen and (max-width: 1342px) {
    .triangle{
        display: none;
    }
    .dottedCircle{
        /* come here */
        position: relative;
        /* inset: 33% 25%; */
        top: 10%;
        left: 10%;
        height: 50px;
        width: 50px;
        z-index: 12;
        border: 5px dotted white;


    }

}

.glow {
    scale: 1.2;
    border-top-color: blue;
    z-index: -1;
    filter: blur(12px);
}

.up {
    inset: 30% 25%;
    border-top-color: black;
    scale: 0.45;
    /* transform: rotate(180); */
}

.up-glow {
    /* border-top-color: white; */
    scale: 0.5;
    animation: glowing-effect 2s infinite linear alternate;
}

.lines {
    position: relative;
    left: 0;
}

.line {
    z-index: -1;
    position: relative;
    top: 4.5rem;
    height: 1px;
    width: 60px;
    background-color: white;
    /* box-shadow: 0 0 50px 3px solid; */
    box-shadow: 0 0 5px 3px;
    /* color: rgb(18, 0, 182); */
    animation: blinking 0.5s infinite linear;
}

.slanted {
    width: 30px;
    position: absolute;
    left: 89%;
    top: -12px;
    rotate: 120deg;
}

.second-line {
    top: -26px;
    position: absolute;
    left: 125%;
    width: 200px;

}


@font-face {
    font-family: digital_font;
    src: url(./fonts/Technology-Bold.ttf);
}

.name {
    position: relative;
    top: 30px;
    left: 15px;
    color: white;
    /* font-weight: bolder; */
    font-size: xx-large;
    font-family: digital_font;
    text-shadow: 0 0 10px;

    /* border: 1px solid yellow; */
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}

@keyframes glowing-effect {
    from {
        filter: blur(0px);
        border-top-color: whitesmoke;
    }

    to {
        filter: blur(10px);
        border-top-color: white;
        /* transform: rotate(360deg); */
    }
}

@keyframes rotate-main {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);

    }
}

@keyframes blinking {
    from {
        color: rgb(0, 0, 0);
    }

    to {
        color: rgb(0, 89, 255);

    }
}


.profile>img {
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: 10px solid white;
    box-shadow: 0 0 10px 5px white;
}





.flex-box-top {
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 1px solid yellow; */
}

.left-part {
    display: flex;
    position: relative;
    top: 15%;
    left: 10%;

}

.wrapper {
    display: flex;
    flex-direction: column;
}

.straight-line {
    width: 70vw;
    height: 10%;
    border: 2px solid;
    border-color: var(--borderColor) transparent transparent transparent;
}


.slant-line {
    position: absolute;
    right: 24.75%;
    top: 56%;
    width: 100px;
    height: 10px;
    background-color: var(--borderColor);
    transform: rotate(45deg);
}

.slant-in-middle {
    height: 20px;
    width: 300px;
    background-color: var(--borderColor);
    position: relative;
    left: 40%;
    transform: skew(40deg);
}

.slant-in-middle2 {
    height: 10px;
    width: 300px;
    background-color: var(--borderColor);
    position: absolute;
    left: 30%;
    transform: skew(40deg);
}

.style-start {
    position: absolute;
    top: 53.25%;
    left: 1%;
    height: 9px;
    width: 200px;
    background-color: var(--borderColor);
    transform: skew(-30deg);
}

.style-start2 {
    position: absolute;
    top: 52.25%;
    left: 6%;
    height: 3px;
    width: 200px;
    background-color: var(--borderColor);
}

.style-info {
    position: absolute;
    height: 50px;
    width: 250px;
    top: 46.5%;
    left: 15%;
    background-color: var(--borderColor);
    /* transform: skew(10deg); */
    padding: 5px;
}

.style-info>h2 {
    color: rgb(158, 154, 192);
}

.project-cards {
    height: 400px;
    width: 75%;
    /* border: 2px solid yellow; */
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

.links{
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.custom-button{
    height: 40px;
    width: 150px;
    border: 2px solid var(--borderColor);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.custom-button:hover{
    background-color: rgb(130, 0, 0);
    font-size: 22px;
}


.btn-upper-tri{
    position: absolute;
    border: 10px solid;
    top: 0;
    right: 0;
    border-color: var(--borderColor) var(--borderColor) transparent transparent;
}
.btn-lower-tri{
    position: absolute;
    border: 10px solid;
    bottom: 0;
    left: 0;
    border-color:  transparent transparent var(--borderColor) var(--borderColor);
}

